:root {
	--font-family: ;
	--second-family: ;
	--primary-color: ;
	--second-color: ;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: ;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: ;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}
